<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prisoner's Dilemma | ShivanshRakesh</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
    <h1>Welcome to Prisoner's Dilemma!</h1>
    <button onclick="test(0)">Click0</button>
    <button onclick="test(1)">Click1</button>
    <button onclick="test(2)">Click2</button>
    <button onclick="test(3)">Click3</button>

    <script>
        function test(num) {
            const data = {
                'name': "something",
                'type': num,
                'cooperatesWhenIntelligentAgent': true,
                'cooperatesWhenNotIntelligentAgent': true
            };
            axios.post("/response/saveResponse", data).then(res => console.log(res));
        }
    </script>
</body>

</html>